<div class="developmentNotice">
    <div class="content">
        This project is under heavy development and most features are not available yet. For example, saving,
        export and import functionality is not supported yet.
        <a href="https://github.com/romeq/mydiary">Support development by giving a star!</a>
    </div>
</div>

<style>
    .developmentNotice {
        width: 100%;
        color: white;
        background-color: hsl(0, 5%, 0%);
        padding: 20px;

        animation: 200ms ease hi;
    }

    .content {
        max-width: 90ch;
        margin: 0 auto;
    }

    @keyframes hi {
        0% {
            transform: translateY(-50px);
        }
        100% {
            transform: translateY(0px);
        }
    }
</style>
