.box-container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.box {
    border: 0;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    
    .box {
        width: 100%;
    }
}

h2 {
    font-weight: 900;
}

p {
    padding-top: 10px;
}

.buttons {

    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttons button, input{
    border-radius: 10px;
    transition: 300ms ease;
    background-color: hsl(var(--accent), 12%, 90%);
    padding: 3px 10px;
    border: 0;
}
.buttons .input-inline {
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

.buttons .input-inline svg {
    padding: 0;
    margin: 0;
    transform: translate(0, 25%);
}
.buttons .error {
    padding: 0px 5px;
    color: hsl(0, 34%, 48%);
}

.buttons .submit-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons button.eye {
    padding: 3px 5px;
    margin-left: 5px;
    transition: 100ms ease;
    background-color: transparent;
} 
.buttons input {
    width: 100%;
    color: hsl(var(--accent), 12%, 10%);
    background-color: hsl(var(--accent), 12%, 90%);
}
.buttons .button:enabled:hover {
    cursor: pointer;
    background-color: hsl(var(--accent), 12%, 80%);
}
.buttons button .spinning {
    font-size: 0.8rem;
    margin-top: 0.3px;
    margin-left: 5px;

}

.container {
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .box {
        max-width: 100%;
    }
    .buttons {
        flex-direction: column;
    }

    .container {
        flex-direction: column-reverse;
    }
}