.box {
    max-width: 700px;
    margin: 0 auto;
    background-color: hsl(var(--accent), 33%, 96%);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-weight: 900;
}

p {
    padding-top: 10px;
}

.buttons {
    padding: 20px 0 0 0;
    display: flex;
    gap: 10px;
}

.buttons button {
    border-radius: 10px;
    transition: 300ms ease;
    background-color: hsl(var(--accent), 12%, 90%);
    padding: 3px 20px;
    cursor: pointer;
    border: 0;
}
.buttons button:enabled:hover {
    background-color: hsl(var(--accent), 12%, 80%);
}

.container {
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.import-svg-1 {
    padding: 20px;
    width: 200px;
}

@media screen and (max-width: 600px) {
    .box {
        max-width: 100%;
    }
    .buttons {
        flex-direction: column;
    }

    .container {
        flex-direction: column-reverse;
    }
}